<footer class="footer">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <nav class="navbar navbar-light bg-light">
            <b>created by <b>{{author}}</b></b>
        </nav>
    </nav>
</footer>